name: Weekly Market Report
on:
  schedule:
    - cron: '0 17 * * 5'
  workflow_dispatch: 

jobs:
  run-report:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Download Repository Code
        uses: actions/checkout@v4

      - name: 2. Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 3. Install Libraries
        run: |
          python -m pip install --upgrade pip
          pip install yfinance pandas lxml

      - name: 4. Check File Location (Debug)
        run: ls -R

      
      - name: Execute script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: |
          # This command finds ANY python file and runs it
          python $(find . -name "*.py" -not -path "*/.*")
